@import "tailwindcss";

@theme {
  --color-primary: #73d0ef;
}

body, #root {
  font-size: 15px;
}

input:focus{
  outline: none;
  box-shadow: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

select:focus{
  outline: none;
  box-shadow: none;
}

